:root {
}

.fade {
    transition-property: opacity;
    transition-duration: 0.9s;
    transition-timing-function: ease-in-out;
}

.invis {
    opacity: 0;
}

.button:hover {
    scale: 1.075 1.075;
}

.button:active {
    scale: 0.925 0.925;
}
